.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    text-align: center;
    background-color: #f0f0f0;
}

.texthero{
    font-size: 2.2rem;
    color: #333;
    max-width: 20em;
}

.search-form {
    margin-top: 25px;
    border: 1px solid #ccc; 
    border-radius: 25px; /* Bordes redondos */
    padding: 5px;
    width: 300px; /* Ancho deseado para la barra */
    background-color: #f7f7f7;
    color: black;
}

.search-input {
    flex-grow: 1; /* Permite que el input ocupe el espacio restante */
    border: none; /* Quita el borde nativo del input */
    outline: none; /* Quita el contorno al enfocar */
    background: transparent;
    padding: 5px 10px;
    font-size: 1em;
    color: black;
}

/* Estilos para el botón/icono */
.search-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0 10px;
    font-size: 1.2em;
    color: #555;
    transition: color 0.2s;
}

.search-button:hover {
    color: #000;
}