.hero{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    height: 95vh;
    text-align: center;
    /*background-color: #f0f0f0;*/
    z-index: 999;
}

.particles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Asegura que las partículas estén detrás del contenido */
}

.texthero{
    font-size: 2.5rem;
    color: #1b1b1b;
    max-width: 20em;
}

.searchform {
    margin-top: 25px;
    border: 1px solid #ccc; 
    border-radius: 25px; /* Bordes redondos */
    padding: 5px;
    width: 300px; /* Ancho deseado para la barra */
    background-color: #f7f7f7;
    color: black;
}

.searchinput {
    flex-grow: 1; /* Permite que el input ocupe el espacio restante */
    border: none; /* Quita el borde nativo del input */
    outline: none; /* Quita el contorno al enfocar */
    background: transparent;
    padding: 5px 10px;
    font-size: 1em;
    color: black;
}

/* Estilos para el botón/icono */
.searchbutton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0 10px;
    font-size: 1.2em;
    color: #555;
    transition: color 0.2s;
}

.searchbutton:hover {
    color: #000;
}