*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    align-items: center;
    width: 80%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    top: 0;
    left: 0;
    z-index: 1000;
}

ul{
    list-style: none;
    display: flex;
    gap: 50px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.247);
    border-radius: 18px;
    padding: 9px 30px;
}

.link {
    font-size: 1.2em;
    font-weight: 800;
    color: black;
    text-decoration: none;
}


