*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 1000;
}

.content{
    align-items: center;
    width: 80%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
}

ul {
    list-style: none;
    display: flex;
    gap: 50px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.041); 
    backdrop-filter: blur(2px); 
    border: 1px solid rgba(255, 255, 255, 0.315);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    border-radius: 18px;
    padding: 9px 30px;
}

.link {
    font-size: 1.1em;
    font-weight: 400;
    color: #000000; 
    text-decoration: none;
}

.button-to-action{
    background-color: rgba(255, 0, 0, 0.199); 
    backdrop-filter: blur(2px); 
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    border-radius: 18px;
    padding: 9px 30px;
}


